.feed{
    flex: 0.43;
    overflow-y: scroll;
    min-width: fit-content;
    border-right: 1PX solid var(--twitter-background);
}
.feed__header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}
.feed__header>h2{
    font-size: 20px;
    font-weight: 800;
    background-color: white;
}
.feed::-webkit-scrollbar{
    display: none;
}